@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.product-card {
  width: 380px;
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 10px auto;
  background: #fafafa;
}

.badge {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: red;
  color: #fff;
  padding: 3px 10px;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  /* altura */
  height: 250px;
  padding: 10px;
  background: #f0f0f0;
}

.product-tumb img {
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 18px;
}

.product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
}

.product-details h4 a:hover {
  color: #fbb72c;
}

.product-details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.product-bottom-details div {
  float: left;
  width: 50%;
}

.product-price {
  font-size: 18px;
  color: #fbb72c;
  font-weight: 600;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.product-links {
  text-align: right;
}

.product-links a {
  display: inline-block;
  margin-left: 5px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
}

.product-links a:hover {
  color: #fbb72c;
}

.grid-container {
  display: grid;
  /* gap: 10px; */
  grid-template-areas: "header header""nav main""footer footer";
  grid-template-rows: 1fr 1fr 1fr;

  /* box-sizing: border-box; */
  height: 100vh;

}

.header {
  grid-area: header;

  color: #000;
  text-align: center;

}

.menu {
  grid-area: nav;


  color: #000;
  text-align: center;
}

.main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);


  /* box-sizing: border-box; */
  gap: 10px;
}

.footer {
  grid-area: footer;

  text-align: center;
}



/*desktops - higher resolution*/
@media (min-width: 1281px) {
  .main {
    background-color: #b71b1b;
  }

  .menu {
    background-color: #999;
  }

  .header {
    background-color: #1b1bb7;
  }

  .footer {
    background-color: #b71b1b;
  }
}

/*laptops, desktops*/
@media (min-width: 1025px) and (max-width: 1280px) {

  .main {
    background-color: #a2b71b;
  }

  .menu {
    background-color: #999;
  }

  .header {
    background-color: #1b1bb7;
  }

  .footer {
    background-color: #b71b1b;
  }
}

/*tablets, ipads (portrait)*/
@media (min-width: 768px) and (max-width: 1024px) {
  .main {
    background-color: #af1bb7;
  }

  .menu {
    background-color: #999;
  }

  .header {
    background-color: #1b1bb7;
  }

  .footer {
    background-color: #b71b1b;
  }
}

/*tablets, ipads (landscape)*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .main {
    background-color: #471bb7;
  }

  .menu {
    background-color: #999;
  }

  .header {
    background-color: #1b1bb7;
  }

  .footer {
    background-color: #b71b1b;
  }
}

/*low resolution tablets, mobiles (landscape)*/
@media (min-width: 481px) and (max-width: 767px) {
  .main {
    background-color: #1b1bb7;
  }

  .menu {
    background-color: #999;
  }

  .header {
    background-color: #1b1bb7;
  }

  .footer {
    background-color: #b71b1b;
  }
}

/*smartphones mobiles (portrait)*/
@media (min-width: 320px) and (max-width: 480px) {
  .main {
    background-color: #1b64b7;
  }

  .menu {
    background-color: #999;
  }

  .header {
    background-color: #1b1bb7;
  }

  .footer {
    background-color: #b71b1b;
  }
}