@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
}





/* card v2 */

.card{
  
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  border: 1px solid #e5e5e5;
  justify-content: space-between;
  align-content: center;
  box-shadow: #000 0px 0px 5px;
}

.card-img {
  height: 80%;
  /* border: 1px solid black; */
  background-size: cover;
  background-position: center center;
  
}
.card-text{
  padding: 10px;
  /* border: 1px solid black; */
  align-items: center;
  justify-content: center;
}

.card-text h4 {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  padding: 5px;
}

.card-text h6 {
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
}
.card-footer{
  padding-top: 10px;
  text-align: center;
  text-justify: center;
}
.card-footer a{
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 300;
}


.card-footer{
  background-color: #1976d2;
  color: white;
  height: 10%;
}

.card:nth-child(1) .card-img{
  background-image: url(/assets/img/1.jpg); 
}
.card:nth-child(2) .card-img{
  background-image: url(/assets/img/2.jpg);
}
.card:nth-child(3) .card-img{
  background-image: url(/assets/img/9.jpg); 
}
.card:nth-child(4) .card-img{
  background-image: url(/assets/img/4.jpg); 
}
.card:nth-child(5) .card-img{
  background-image: url(/assets/img/5.jpg); 
}
.card:nth-child(6) .card-img{
  background-image: url(/assets/img/6.jpg); 
}
.card:nth-child(7) .card-img{
  background-image: url(/assets/img/7.jpg); 
}
.card:nth-child(8) .card-img{
  background-image: url(/assets/img/10.jpg); 
}

.grid-container {
  display: grid;
  grid-template-areas: "header"
    "nav"
    "main"
    "footer";
  grid-template-rows: 10% 10% auto 10%;
  height: 100vh;

}

.header {
  grid-area: header;
  color: #000;
  text-align: center;
  background-color: #004ba0;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.header i {
  font-size: 30px;
  color: white;
}

.header h1{
  font-size: 1.2em;
  color: white;
  font-weight: 200;
  
}



.menu {
  grid-area: nav;
  color: white;
  text-align: center;
  background-color: #1976d2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 10px;
}

.menu h4{
  font-weight: 200;
}

/* SELECT */
.combo-box select {
  width: 90vw;
  height: 40px;
  text-align: center;
  border: 1px solid #ccc;
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: 10px;
 overflow-y: scroll;

}

.tarjeta {
  display: flex;
  flex-direction: row;

}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  
}
.card {
  height: 400px;
  width: 300px;
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 10px auto;
  background: #fafafa;

}

.display-laptop{
  display: none;
}

/* Paginacion W3school */
.pagination {
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  
}

.pagination a.active {
  background-color: #1976d2;
  color: white;
  border: 1px solid #1976d2;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.footer {
  grid-area: footer;
  text-align: center;
  background-color: #004ba0;
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.footer h5{
  font-weight: 200;
}

.footer .icon {
  font-size: 20px;
  padding-top: 5px;
  
}

@media (max-width: 575px){
  .header .hidden{
    display: none;
  }
  .main .hidden {
    display: none;
  }
}

@media (min-width :576px){
  .grid-container {
    display: grid;
    grid-template-areas:  "header nav"
                          "header main"
                          "footer main";
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-columns: 1fr 1fr ;
    height: 100vh;

  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: white;
    font-weight: 200;
  }

  .header .visibility{
    display: none;
  }

  .header .header-menu{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
  }

  .menu{
    background-color: #ccc;
    color: #000;

  }

  /* .card {
    width: 24%;
  
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 10px auto;
    background: #fafafa;
  
  } */
  


  .combo-box select {
    width: 85vw;
    margin-left : 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    height: 40px;
    
    border: 1px solid #ccc;
  }

  .visibility {
    display: none;
  }
  
  .display-laptop{
    display: block;
  }
  
}


